@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: hsl(0, 0%, 98%);
  overflow-x: hidden;
  font-family: "Public Sans";
}
p {
   color: hsl(233, 8%, 62%);
   line-height: 1.5rem;
   font-size: 1rem;
}
header {
  padding-bottom: 4rem;
  position: relative;
  background: white;
}
header nav {
   position: fixed; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 1rem 6rem;
  z-index: 2;
  width: 100%;
  left: 0;
  right: 0;
}
header ul {
   display: flex; 
  list-style: none; 
}
   a{
   margin: 0 1rem; 
    color: hsl(233, 4%, 62%);   
   text-decoration: none; 
   }
   a:hover{
   color: black;
   transition: all .5s;
}
button {
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  border-radius: 18rem;
  padding: 0.8rem 2rem;
  color: white;
  font-size: 0.9rem;
  font-weight: 700;
  border: none;
}
button:hover {
  opacity: 0.4;
  cursor: pointer;
  transition: all .5s;
}
.intro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 400px;
}
.intro h1 {
  color: hsl(250, 60%, 20%);
  font-size: 3rem;
  font-weight: 400;
}
.intro p {
  margin: 2rem 0 2rem 0;
  line-height: 1.5;
  font-size: 1.1rem;
}
.digital {
  margin: 2rem 0 2rem 6rem;
  flex: 50;
}
.desktop {
  /* background: url("./images/bg-intro-desktop.svg") no-repeat;
  background-size: cover;
  background-position: 5rem -180px;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 700px;
  overflow-x: hidden;  */
  position: relative;
}
.desktop img:nth-child(1) {
  position: absolute;
  right: -70px;
  top: -10px;
  z-index: 10;
  width: 70%;
}
.desktop img:nth-child(2) {
  width: 100%;
  position: relative;
  right: -90px;
  top: -35px;
  z-index: -1;
}
.easybank {
  /* line-height: 1.5;
  background-color: hsl(220, 16%, 96%);  
  padding: 5rem;  */
}
.easybank h1 {
  font-weight: 400;
  color: hsl(250, 50%, 20%);
  font-size: 2rem; 
  margin: 2rem 0 2rem 1rem;

}
.easybank>p {
  margin: 2rem 0 4rem 1rem;
 font-size: 1.1rem; 
}
.icon {
  display: flex; 
  justify-content: space-between;
}
.icon div img{
   width: 20%; 
  margin: 0 .8rem;
}
h3 {
   color: hsl(250, 10%, 20%); 
  font-weight: 400;
  font-size: 1.3rem;
  margin: 1.3rem .9rem; 
}
.latest-article{
  padding: 4rem 5rem;
}
h2 {
  margin: 2rem 0 0rem 1rem;
  color: hsl(250, 50%, 20%);
  font-size: 2.5rem;
  font-weight: 400;
}
.articles {
  display: flex;
  justify-content: space-between;
  margin: 2rem 0;
}
.articles img {
  width: 100%;
   border-top-right-radius: 2%; 
   border-top-left-radius: 2%; 
}
.articles div {
  border-radius: 2%;
  background: white;
  margin: 1rem;
}
h4 {
  margin: 1rem .7rem;
  font-size: 1.1rem;
  font-weight: 400;
   color: black; 
   transition: all .3s ease;
}
h4:hover {
  color: hsl(136, 65%, 51%);
  text-decoration: none; 
}
div p {
  margin: 0 .8rem;
}
blockquote {
  color: hsl(233, 8%, 62%);
  margin: 0 1rem;

}
footer {
  background: hsl(233, 26%, 24%);
  color: white; 
  padding: 3rem 6rem; 
  display: flex; 
  justify-content: space-between;
}
.social-icon {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   margin: 0 .1rem;  
   padding: 0 .4rem;
}
.social-icon ul li {
  list-style: none;
  display: inline-block;
  margin: 0 .3rem; 
}
.about-us {
  display: flex;
  justify-content: space-between;
  line-height: 2;
  font-size: .9rem;
  font-weight: 400;
}
.about-us li {
  list-style: none;
  margin: 0 2rem;
}
.about-us a{
  color:azure;
}
.about-us a:hover {
  color: hsl(136, 65%, 51%);
  text-decoration: none;
}
.request {
   display: flex; 
  align-items: flex-end;
  flex-direction: column; 
  justify-content: space-between; 
}
.request p{
  font-size: .9rem;
  color: white;
}

@media (min-width: 1180px){
  .easybank {
     margin-top: -13rem; 
  }
}
/* @media (max-width: 800px){
  header ul{
    display: none;
  }
  header button{
    display: none;
  }
  .intro{
    grid-template-columns: 1fr;
  }
  .desktop{
    order: 1;
  }
  .digital{
    order: 2;
    text-align: center;
    margin:2rem;
  } */
/* 
  header nav {
    display: flex;
    align-items: center;
    justify-content: center;
     top: 10rem; 
    padding: 1rem; 
    position: absolute;
    width: 70%; 
    text-align: center;
  }
  header ul{
    margin: 1.5rem 0;
  }
  .header .btn {
    display: none;
  }
  .intro{
    display: block;
  }
  .digital{
    justify-content: center;
    align-items: center;
  }
  .desktop{
    background-size: 100%;
  }
  .desktop img{
    transform: translate(0 -5rem);
    width: 100%;
  }
  .easybank{
    text-align: center; 
    padding: 2rem 3rem 0 1rem;
  }
  .icon {
    flex-direction: column;
    margin: auto;
  }
  .articles{
    flex-direction: column;
  }
  .articles img{
    width: 100%;
  }
  footer{
    justify-content: center;
    align-items: center;
    flex-direction: column;


  }
} */ 